<!DOCTYPE html>
<html lang="en"> 
<head>
<meta charset="UTF-8">
<title>Educación Continua</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="../css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<a href="http://localhost:3000/crear">CREAR CURSO</a>
<a href="http://localhost:3000/listarDisponibles">VER CURSOS</a>
<a href="http://localhost:3000/inscribir">INSCRIBIR</a>
<a href="http://localhost:3000/verInscritos">VER INSCRITOS</a>